/* === Gruvbox Palette === */
@define-color base      #1d2021;

@define-color text      #ebdbb2;

@define-color gold      #ffd700;
@define-color lavender  #b4befe;
@define-color teal      #94e2d5;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;

* {
  font-size: 16px;
  border: none;
  box-shadow: none;
  margin: 0px;
}

window#waybar {
  background-color: @base;
  font-family: "Fira Mono";
  color: @text;
}

#clock {
  font-weight: 200;
  color: @peach;
}

#workspaces {
  background: transparent;
  font-size: 24px;
}

#workspaces button {
  background: transparent;
  color: @text;
  padding: 0px 10px;
  border-radius: 0px;
}

#workspaces button.focused {
  color: @peach;
}

#clock,
#memory,
#temperature,
#pulseaudio,
#backlight,
#language,
#network,
#battery {
  border-radius: 0px;
  padding: 0px 10px;
  min-width: 75px;
}

#clock {
  background: linear-gradient(135deg, @yellow 0%, @gold 100%);
  color: @base;
  border-radius: 0px;
  font-family: "Fira Mono", monospace;
}

#battery {
  background: linear-gradient(135deg, @teal 0%, @lavender 100%);
  color: @base;
  border-radius: 0px;
}

#tray {
  margin: 0px 10px;
}
